
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* shared style */
.btn-primary{
      background: linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);
      color: #FFFFFF ;
      font-size: 1rem ;
      font-weight:500;
      padding: 12px 16px ;
      border-radius: 10000px;
}
.container{
  max-width: 1200px;
  width: 75%;

}





/* default style */
header{
  border: 2px solid red;
  background-color:  #1A0B2E;
}
.navbar{
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
  
}
.nav-list{
  display: flex;
  gap: 2rem;
}
.nav-title{
  color: #FFFFFF;
  font-size: 3rem;
}
.nav-list li{
  list-style: none;
}
.navbar ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
}
.btn-1{
  display: flex;
  align-items: center;
}


/* banner section style */
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hero-bg.png);
}
.banner-box{
  max-width: 550px;
  text-align: center;
  margin-top: 101px;
  border: 2px solid white;
}
.banner-title{
  color: #FFFFFF;
  font-size: 800;
  font-size: 60px;
  margin-top: 40px ;
}
.banner-description{
  color: #FFFFFF;
  font-size: 400;
  font-weight: 16px;
  margin-bottom: 24px;
}

.btn-2{
  display: flex;
  gap: 8px;
}
.btn-3{
  background: none;
  border: 1px solid #00FF88;
  color: #00FF88;
  border-radius: 10000px;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
}
.banner-button{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 100px;
}

/* about section style */
.about-section{
  background-color: #1A0B2E;
  border: 2px solid gray;
}
.about{
  margin: 0 auto;
  border: 2px solid skyblue;
  text-align: center;
  padding: 50px 200px 120px;
}
.about-container hr{
  font-weight: 1;
}
.about-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.about-description{
  font-size: 1rem;
  color:#FFFFFF ;
  line-height: 20px;
  font-weight: 400px;
  margin-bottom: 80px;
}

.about-card{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.card-title{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 800;
}
.card-txt{
  color: #FFFFFF;
  font-size:1rem ;
  font-weight: 400;
}